* {
  //border: 1px #CCCCCC solid;
}


body{
  font-family: 'PT Sans';
//  background-color:#000000;
}

b{
  font-size: 32px;
  font-weight: normal;
  color: #2498f4;
}

.nopadding {
  padding:0px;
}

.sprite {
  display: block;
}

.stretch {
  width:100%;
  background-size: 100% 100%;
  padding:0px;
  margin:0px;
  border:0px;
}

.header {
  height:45px;
  background-image: url(headerbg.png);
}

.navigation {
  height:110px;
  background-image: url(navbg.png);
  padding-top:19px;
}

.navigation ul {
  width:100%;
  margin:0 auto;
}

.navigation li {
  width:16%;
  margin:0 auto;
  cursor: pointer;
}

.navigation li div{
  margin: 0 auto;
}


.headercontent{
  height:44px;
  float:right;
  color: #ffffff;
  line-height:45px;
  padding-right:10px;
}

.dashboard{
  background-color:#33cc66;
  height:65px;
  margin: 15px 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 36px;
  line-height:65px;
}

.searchbar {
  float:right;
  border-radius:3px;
  border: #2db55b solid;
  margin: 15px 0px;
}

.content{
  //border-left: 1px solid #eeeeee;
  padding: 15px;
  background: url(biggrad.png) no-repeat;
  background-size: 100% 249px;
  margin: 0px 5px;
}

.content .row {
  //border-bottom: 1px solid #eeeeee;
}

.subcontent{
  //border-right: 1px solid #eeeeee;
}

.announcements {
  font-size:14px;
  height: 50px;
  line-height:50px;
}

.announcements div {
  //padding-left: 15px;
}

.orange{
  color: #fe7f13;
}

.gray {
  color: #777777;
}

.orange, .gray{
  border-right:1px solid #eeeeee;
}

.box {
  background:url(smallgrad.png) no-repeat;
  background-size: 100% 6px;
  padding: 20px 10px;
}

.taskssettings{
  float: right;
}

.pies {
  color: #999999;
  font-size: 13px;
}

.pies img{
  padding: 10px 0px 15px 0px;
}

.form-control {
  width:220px;
  height:29px;
  border:none;
  background-color:#f4f4f4;
}

.white {
  background-color: #ffffff;
  padding:0px 15px;
  border: 1px #e5e5e5 solid;
}

.imgwrap {
  display: inline-block;
  height:100%;
  width:100%;
  vertical-align:middle;
}

.imgwrap img {
  margin:0 auto;
}

#analytics {
  padding: 20px 20px;
}

#charts {
  padding-right: 10px;
  margin: 0px 0px;
}

.pulldown {
  max-width: 180px;
  height:30px;
  background: url(downarrow.png) no-repeat;
  background-position: right 5px center;
  border: 1px #dddddd solid;
  border-radius: 3px;
  float:right;
}

.pulldown select{
  -webkit-appearance: none;
  width: 100%;
  background:transparent;
  border:none;
  color: #666666;
  font-size: 13px;
  line-height: 30px;
  padding: 0px 30px 0px 10px;
}

.imgstretch{
  width:100%;
  height:auto;
  padding:10px 20px 0px;
}

.activity{
  color: #999999;
}

.bleft{
  background: url(leftborder.png) no-repeat left;
  background-size: 35px 100%;
  border-left: 1px solid #ededed;
}
