* {
//  border: 1px #CCCCCC solid;
}


body{
  font-family: 'PT Sans';
//  background-color:#000000;
}

a {
//  text-decoration:none;
  color:inherit;
}

.content b{
  font-size: 32px;
  font-weight: normal;
  color: #2498f4;
}

.nopadding {
  padding:0px;
}

.sprite {
  display: block;
}

.stretch {
  width:100%;
  background-size: 100% 100%;
  padding:0px;
  margin:0px;
  border:0px;
}

.header {
  height:45px;
  background-image: url(headerbg.png);
}

.navigation {
  height:110px;
  background-image: url(navbg.png);
  padding-top:19px;
}

.navigation ul {
  width:100%;
  margin:0 auto;
}

.navigation li {
  width:16%;
  margin:0 auto;
  cursor: pointer;
}

.navigation li div{
  margin: 0 auto;
}

.iconshadow img{
  margin-top: 20px;
}

.iconshadow {
  background-position: bottom;
}

.headercontent{
  height:44px;
  float:right;
  color: #ffffff;
  line-height:45px;
  padding-right:10px;
}

.dashboard{
  background-color:#33cc66;
  height:65px;
  margin: 15px 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 36px;
  line-height:65px;
}

.searchbar {
  float:right;
  border-radius:3px;
  border: #2db55b solid;
  margin: 15px 0px;
}

.content{
  //border-left: 1px solid #eeeeee;
  padding: 15px;
  background: url(biggrad.png) no-repeat;
  background-size: 100% 249px;
  margin: 0px 5px;
}

.content .row {
  //border-bottom: 1px solid #eeeeee;
}

.subcontent{
  //border-right: 1px solid #eeeeee;
}

.announcements {
  font-size:14px;
  height: 50px;
  line-height:50px;
}

.announcements div {
  //padding-left: 15px;
}

.orange{
  color: #fe7f13;
}

.gray {
  color: #777777;
}

.orange, .gray{
  border-right:1px solid #eeeeee;
}

.box {
  background:url(smallgrad.png) no-repeat;
  background-size: 100% 6px;
  padding: 20px 10px;
}

.taskssettings{
  float: right;
  margin-top:-35px;
}

.pies {
  color: #999999;
  font-size: 13px;
}

.pies img{
  padding: 10px 0px 15px 0px;
}

.form-control {
  width:220px;
  height:29px;
  border:none;
  background-color:#f4f4f4;
}

.white {
  background-color: #ffffff;
  padding:0px 15px;
  border: 1px #e5e5e5 solid;
}

.imgwrap {
  display: inline-block;
  height:100%;
  width:100%;
  vertical-align:middle;
}

.imgwrap img {
  margin:0 auto;
}

#analytics {
  padding: 20px 20px;
}

#charts {
  padding-right: 10px;
  margin: 0px 0px;
}

.pulldown {
  max-width: 180px;
  height:30px;
  background: url(downarrow.png) no-repeat;
  background-position: right 5px center;
  border: 1px #dddddd solid;
  border-radius: 3px;
  float:right;
  cursor: pointer;
}

.pulldown select{
  -webkit-appearance: none;
  width: 100%;
  background:transparent;
  border:none;
  color: #666666;
  font-size: 13px;
  line-height: 30px;
  padding: 0px 30px 0px 10px;
  cursor:pointer;
}

.imgstretch{
  width:100%;
  height:auto;
  padding:10px 20px 0px;
}

.activity{
  color: #999999;
}

.bleft{
  background: url(leftborder.png) no-repeat left;
  background-size: 35px 100%;
  border-left: 1px solid #ededed;
}

.emptybox{
  width: 16px;
  height:16px;
  border: thin solid #dddddd;
  border-radius: 2px;
  position: absolute;
  bottom:0px;
  left:0px;
  padding:0px;
  display: inline;
}

.checkwrap{
  width:24px;
  height:24px;
  position:relative;
  float:left;
  display: inline;
  margin-left: 10px;
}

.socialcheck{
  position: absolute;
  bottom: 0px;
  left:0px;
  display: inline;
}

.socialempty {
  position: absolute;
  bottom: 2px;
  left: 2px;
  display: inline;
}

.sociallabel{
  float:left;
  display:inline;
  border: none;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 13px 3px 8px;
  margin-top: 3px;
}

#socialbuttons{
  width:450px;
  float:none;
  margin: 0 auto;
}

#facebook{
  background-color: #114570;
}

#twitter{
  background-color: #2298f4;
}

#foursquare{
  background-color: #3a599b;
}

#googleplus{
  background-color: #31cc66;
}

.circle{
  width:24px;
  height:24px;
  border-radius: 50%;
  background-color: #32cc66;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 5px;
}

.leftlist {
  font-size: 18px;
  color: #2498f4;
  font-weight: normal;
  cursor: pointer;
}

.leftlist div{
  vertical-align: middle;
}

.leftlist .row{
  padding: 15px 0px;
  margin:0px;
  border-bottom: 1px solid #eeeeee;
}

.leftlist:hover{
}

.tbutton {
  font-size: 15px;
  //line-height: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  position: relative;
  padding: 3px;
  vertical-align: top;
  width: auto;
}

.facesmallblue{
  display: inline-block;
  margin-top: 3px;
}

.leftlist .row:hover{
  color: #dddddd;
}

.reclist a:hover{
  color: #000000;
  text-decoration:underline;
}

.reclist a:active{
  color:#2498f4;
  text-decoration:underline;
}

.reclist a:visited{
  color:#33cc66;
  text-decoration:underline;
}

#row1:hover #circle1 {
  background-color: #dddddd;
}

#row1:hover #avi1 {
  background-position: -764px 0;
}

#row2:hover #circle2 {
  background-color: #dddddd;
}

#row2:hover #avi2 {
  background-position: -764px 0;
}

#row3:hover #circle3 {
  background-color: #dddddd;
}

#row3:hover #avi3 {
  background-position: -764px 0;
}

#row4:hover #circle4 {
  background-color: #dddddd;
}

#row4:hover #avi4 {
  background-position: -764px 0;
}

.reclist{
  font-size: 16px;
  color: #777777;
  cursor: pointer;
}

.reclist span{
  display:block;
  font-size: 10px;
}

.reclist .row{
  padding: 15px 0px;
  margin:0px;
  border-bottom: 1px dotted #eeeeee;
}

.badgebox{
  width:100%;
  border:none;
  position:relative;
  padding:0px;
  height:250px;
}

.badgebox div{
  //margin: 0 auto;
}

.ribbon{
  height:50px;
  background-color: #2394ee;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  display:inline;
  position:absolute;
  left:13px;
  right:13px;
  bottom:105px;
  z-index:200;
}

.ribbon span{
  font-size:11px;
  display:block;
}

.ribbonleft{
  position:absolute;
  left:0px;
  bottom:110px;
  z-index:200;
}

.ribbonright{
  position:absolute;
  right:0px;
  bottom:110px;
  z-index:200;
}

.backsquare{
  height:195px;
  left:15px;
  right:15px;
  bottom:0px;
  border:1px solid #f2f2f2;
  z-index:100;
  position:absolute;
  border-radius:5px;
  box-shadow: 0 5px 10px #777777;
}

.bigblock{
  display:block;
}

.facegreen, .faceorange{
  position:absolute;
  bottom:150px;
  left:50%;
  margin-left:-39px;
  z-index:200;
}

.graphgreen, .graphorange{
  position:absolute;
  bottom:10px;
  left:50%;
  margin-left:-98px;
}

.badges{
  padding: 5px 20px;
  background: url(smallgrad.png) no-repeat;
  background-size: 100% 6px;
  margin: 40px 0px 0px;
  border-top: 1px solid #eeeeee;
}

.dykwrap {
  margin: 20px 0px 0px;
  border-top: 1px solid #e9e9e9;
  padding: 20px;
}

.dyk {
  height: 140px;
  left:0px;
  right:0px;
  border-radius: 3px;
  background-color: #2394ee;
  position:relative;
  line-height:140px;
  padding:0px 30px;
}

.semicircleleft, .semicircleright {
  display: inline-block;
  position:absolute;
  top:45px;
}

.semicircleleft{
  left:0px;
}
.semicircleright{
  right:0px;
}

.dyk span{
  color: #ffffff;
  font-size: 15px;
  display:inline-block;
  vertical-align:middle;
  line-height:normal;
  padding-left: 0px 30px;
}

.ads {
  margin: 0px;
  background-color: #2394ee;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ads div {
  padding: 0px 10px;
}

.ads img{
  width: 100%;
  height: auto;
}

#ad2{
  margin-top:-11px;
}

.adwrap{
  width:100%;
  height:100%;
  padding:0px;
  border-radius: 5px;
  background-color: #ffffff;
}

.fsection{
  display:inline;
  float:left;
  border-right: thin;
  padding: 0px 10px;
  border-right: thin solid #dddddd;
  height: 40px;
  padding-top:10px;
  margin-top:8px;
  width: 100%;
}

#footer{
  background: url(footer.png) no-repeat;
  background-size: 100% 51px;
  height:51px;
  font: 14px;
  color: #999999;
}

.fsection span{
  border-right: thin solid #dddddd;
  padding:0px 10px;
}

.fsection a:hover{
  text-decoration: underline;
  color: #2498f2;
}

.fsection a:active{
  color:#33cc66;
}

#fright{
  text-align:right;
}

#footer b{
  font-weight: 900;
  fpmt-size: 14px;
  color: #2498f2;
}

#pullup {
  float:right;
  margin-top:10px;
}

#avatar {
  float:left;
  margin-top:-7px;
  margin-right:0px;
}

.fright{
  float:right;
}

a .socialsprite {
  display: inline;
  float: left;
  margin-right: 5px;
}

.social {
  width: auto;
}

#FB, #FS, #TW, #YT {
  display: inline;
  float:left;
  cursor: pointer;
  margin-right: 5px;
}

#FB:hover{
  background-position: -40px -21px ;
}

#FS:hover{
  background-position: 0 -22px ;
}

#TW:hover{
  background-position: -19px 0;
}

#YT:hover{
  background-position: -60px 0;
}

.marker{
  text-align:center;
}

.marker img{
  margin-top:-14px;
}

input[type="checkbox"] {
    display: none;
}

label {
  cursor: pointer;
}

label span{
  float:left;
}


/* CUSTOM CHECK MARK METHOD FROM Sara Soueidan

http://blogs.adobe.com/dreamweaver/2015/08/css-vs-svg-styling-checkboxes-and-radio-buttons.html

*/

input[type="checkbox"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 22px;
  background: url(customempty.png) bottom left no-repeat;
}

input[type="checkbox"]:checked + label span {
  background: url(customcheck.png) bottom left no-repeat;
}
